<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Changed the navbar to stick to the top and to container fluid to fill out screen-->
    <nav class="navbar navbar-default navbar-fixed-top" id="navvy">
        <div class="container-fluid">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Create New and List buttons work while in the create and index page-->
                    <li>@Html.ActionLink("Create New", "Create")</li>
                    <li>@Html.ActionLink("List", "Index")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!--New Footer, fixed to bottom-->
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" id="footy">
            <ul class="nav navbar-nav">
                <p>Official User Reviews</p>
                <p>Copyright @DateTime.Now.Year</p>
                <p>All Rights Reserved.</p>

            </ul>
            </nav>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
