@model TechReview.Models.Review

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <div class="thumbnail">
            
            <div class="caption">
                <h3>@Html.DisplayFor(model => model.Title)</h3>
                <p>@Html.DisplayFor(model => model.Category.Name)</p>
                <p>@Html.DisplayFor(model => model.Cost)</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="thumbnail">

            <div class="caption">
                <p>@Html.DisplayFor(model => model.Content)</p>
                <p>@Html.DisplayFor(model => model.PublishDate)</p>
               
                @Html.ActionLink("Create New", "Create")
                @Html.ActionLink("List", "Index")
                @Html.ActionLink("Contact", "Contact", "Home")
            </div>
            </div>
        </div>
    </div>
</div>
@*<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
